{% extends "App_Soc/base.html" %}

{% block title %}
    Edit User Form
{% endblock %}

{% block content %}
    <h1>Edit User Details</h1>
    <h3>You can edit the phone number ONLY.</h3><br><br><br><br>
    {% if submitted %}
        Edit successfully!
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}
            {{ form.as_p}}
{#            <input type="submit" value="Edit" class="btn btn-secondary">#}
            <button type="submit" class="btn" onclick="alert('Edit successfully!')"><b>Edit</b></button>
        </form>
    {% endif %}




{% endblock %}